


.card {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.offer-box {
    -fx-background-radius: 8;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.icon-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
/* --- Ricerca Light --- */
.search-input {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 20;
    -fx-text-fill: #2c3e50;
}
.search-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}
.filter-container {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 10;
}
.modern-input-small {
    -fx-background-color: #f5f6fa;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 5;
    -fx-text-fill: black;
}
.filter-check { -fx-text-fill: #2f3640; }

.card-detail-title { -fx-text-fill: #2c3e50; }
.section-title { -fx-text-fill: #7f8c8d; -fx-font-size: 14px; }
.seller-box {
    -fx-background-color: white;
    -fx-border-color: #dcdde1;
}
.seller-name { -fx-text-fill: #2c3e50; -fx-font-weight: bold; }
.seller-rating { -fx-text-fill: #7f8c8d; }
.secondary-button {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-background-radius: 5;
}

/* Stili Grafico Light */
.chart-plot-background { -fx-background-color: transparent; }
.chart-content { -fx-padding: 10; }
.axis-label { -fx-text-fill: #7f8c8d; }
.axis { -fx-tick-label-fill: #7f8c8d; }
.chart-series-line { -fx-stroke: #3498db; -fx-stroke-width: 2px; }
.chart-line-symbol { -fx-background-color: #3498db, white; }
.stat-card {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdde1;
}
.stat-label { -fx-text-fill: #7f8c8d; }
.val-min { -fx-text-fill: #27ae60; } /* Verde per il minimo */
.val-avg { -fx-text-fill: #2980b9; } /* Blu per la media */
.val-max { -fx-text-fill: #c0392b; } /* Rosso per il massimo */

.login-card { -fx-background-color: #ffffff; -fx-border-color: #dcdde1; -fx-border-radius: 10; }
.page-title { -fx-text-fill: #2c3e50; }
.form-label { -fx-text-fill: #2c3e50; }
.text-muted { -fx-text-fill: #7f8c8d; }
.link-text { -fx-text-fill: #3498db; }